name: Release

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Verify version matches tag
        run: |
          CARGO_VERSION="v$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[0].version')"
          if [ "$CARGO_VERSION" != "${{ github.ref_name }}" ]; then
            echo "::error::Cargo.toml version ($CARGO_VERSION) does not match release tag (${{ github.ref_name }})"
            exit 1
          fi
      - run: cargo test
      - run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
